h1{
    color: purple;
    background-color: plum;
    text-align: center;
    width: 50%;
    font-family: fantasy;
}
button{
    color: rgb(250, 92, 104);
    background-color: cyan;
    text-decoration: line-through;
}
body{

}
p{
    color: green;
    font-weight: 700;
    font-size: 35px;
    font-family: cursive;
}

/* adding style to a particular element 

by using ID */
#firstbutton{
    font-size: 25px;
    color: darkblue;
}

/* by using class */
.button{
    font-size: 25px;
    background-color: aquamarine;
}

/* by using definitie list location */
/* 
.button li {
    color: blue;
} */

 p + ul{
    /* color: royalblue; */
    font-size: 50px;
}
