* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}
h1 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 800px;
  margin: 30px;
  border: 5px solid black;
  height: auto;
  margin: 0 auto;
  height: max-content;
}
.shoes-photo {
  float: left;
  width: 180px;
  height: 180px;
  margin-bottom: 5px;
  display: block;
}
.consumer-details {
  float: left;
  background-color: red;
}
.price {
  display: inline-block;
}
.shipping {
  display: inline-block;
  float: right;
}
.product-details {
  float: right;
  background-color: green;
}

button {
  width: 100%;
  /* display: block; */
  background-color: black;
  color: white;
  text-transform: uppercase;
}
